{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits list</h1>
    <a href="{{ path( 'produit_new' )}}">create a new package</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.slug }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'slug': produit.slug }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
